*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: sans-serif, serif;
  color: #fffdfa;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #070606;
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
p,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
figure {
  font-weight: 400;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.Pokedex {
  text-align: center;
}

.Pokedex-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedex-winner {
  color: #4caf50;
}

.Pokedex-loser {
  color: #e91e63;
}

.Pokecard {
  width: 300px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: #fffdfa;
  border-radius: 3px;
  color: #070606;
}

.Pokecard-data {
  font-size: 0.875rem;
}

.Pokecard-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.Pokecard img {
  transition: all ease 500ms;
}

.Pokecard img:hover {
  transform: scale(1.25);
  opacity: 0.7;
}
